.line {
    fill: none;
    stroke-width: 1;
    stroke: seagreen; 
}

.danger {
    stroke: crimson;
}

.threshold {
    stroke: crimson;
    stroke-dasharray: 3, 5;
}

.dangerLabel {
    font-family: Helvetica, Arial, sans-serif;
    fill: crimson;
    font-size: 12px;
}